/*----------------------- BODY CONTAINER -------------------------*/

.body-wrapper{
/*    border:2px solid red;*/
    width:100%;
    height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.body-container{
/*    border:5px solid black;*/
    min-width:320px;
    max-width:1366px;
    width:100%;
}
@media (min-width: 320px) and (max-width:767px) {
    .header{
/*        border:2px solid red;*/
        width:100%;
        height:60px;
        position: fixed;
/*        background-color:white;*/
        border-bottom:rgba(0, 0, 0, 0.3); 
        -webkit-transition:0.5s;
        transition:0.5s;
        z-index:999;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
    }
    .header-logo{
/*        border:2px solid black;*/
        width:100%;
        height:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
    }
    .menu-icon{
/*        border:1px solid black;*/
        font-size:30px;
        color:#f16a21;
        position:fixed;
        padding-left:10px;
        padding-right:10px;
        left:0px;
    }
    .header-logo img{
/*        border:1px solid black;*/
        width:80%;
        padding-left:10px;
    }
    .header-navigation{
        display:none;
    }
    .header-avigation-small{
        position:fixed;
        top:0px;
        width:100%;
        padding-top:60px;
            z-index:998;
/*        height:100px;*/
/*        background-color:white;*/
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color:rgba( 0, 0, 0, 0.837 );
    }
    .header-avigation-small.smaller{
        position:fixed;
        top:40px;
        padding-top:0px;
        width:100%;
        background-color:white;
        -webkit-transition:0.5s;
        transition:0.5s;
    }
    .header-avigation-small a{
        text-align:center;
        font-size:1rem;
        font-weight:700;
/*        border:1px solid black;*/
        padding-top:10px;
        padding-bottom:10px;
        text-decoration:none;
        color:#f16a21;
    }
    .header.smaller{
        /*border:1px solid black;*/
        width:100%;
        height:50px;
        position: fixed;
        background-color:white;
        border-bottom:1px solid #D9D9D9;
        -webkit-transition:0.5s;
        transition:0.5s;
    }
/*-----------------------   FOOTER  -------------------------*/
    .footer{
    /*    border:1px solid red;*/
        border-top:5px solid #f16a21;
        float:left;
    /*    height:150px;*/
        width:100%;
        background-color:#333333;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    /*----------------------------- FOOTER TOP -------------------------------*/
    .footer-top{
    /*    border:1px solid red;*/
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        color:#999999;
    }
    .top-container{
/*        border:1px solid black;*/
        margin-top:20px;
        width:95%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .contact-container{
/*        border:1px solid black;*/
        height:60px;
        margin-left:10%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
    }
    .contact-container div{
        margin-left:10px;
        font-size:0.8rem;
    }
    .contact-container img{
        height:50%;
        margin-left:10px;
    }
    .contact-container2{
/*        border:1px solid black;*/
        height:30px;
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        margin-top:10px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom:10px;
        margin-right:30px;
    }
    .contact-container2 a{
    /*    border:1px solid red;*/
        height:100%;
        margin-left:10px;
    }
    .contact-container2 img{
        height:100%;
        -webkit-filter:brightness(0.6) grayscale(1);
        filter:brightness(0.6) grayscale(1);
    }
    .contact-container2 img:hover{
    /*    border:1px solid red;*/
        -webkit-filter:brightness(0.5) grayscale(0.1);
        filter:brightness(0.5) grayscale(0.1);
    }
    /*--------------- FOOTER-BOTTOM ----------------*/
    .footer-bottom{
        height:50px;
    /*    border:1px solid black;*/
        border-top:1px solid #515151;
        color:#a8a8a8; 
        font-size:0.7rem;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .header-avigation-small{
        display:none;
    }
    .header{
	border:1px solid blacsk;
	width:100%;
    max-width:1366px;
	height:80px;
	position: fixed;
	/*background-color:white;*/
	border-bottom:rgba(0, 0, 0, 0.3); 
	-webkit-transition:0.5s;
	transition:0.5s;
	z-index:999;
    }
    .menu-icon{
        display:none;
    }
    .header.smaller{
        /*border:1px solid blacsk;*/
        width:100%;
        height:60px;
        position: fixed;
        background-color:white;
        border-bottom:1px solid #D9D9D9;
        -webkit-transition:0.5s;
        transition:0.5s;
    }
    .header-logo{
/*        border:1px solid black;*/
        width:40%;
        height:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        float:left;
    }
    .company-logo{
        height:90%;
    }
    .header-navigation{
/*    	 border:1px solid black; */
        float:right;
        height:100%;
/*        width:35%;*/
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .nav-item{
/*    	border:1px solid red;*/
        padding-left:1rem;
        padding-right:1rem;
        height:100%;
/*        width:25%;*/
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
    }
    .nav-item2{
/*    	border:1px solid red;*/
        padding-left:1rem;
        padding-right:1rem;
        height:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
    }
    .header-navigation a{
        /*border:1px solid black;*/
        color:white;
        text-decoration: none;
        font-size:0.7rem;
        -webkit-transition:0.5s;
        transition:0.5s;
        /*font-weight:500;*/
    }
    .header-navigation a.smaller{
        /*border:1px solid black;*/
        color:black;
        text-decoration: none;
        font-size:0.6rem;
        -webkit-transition:0.5s;
        transition:0.5s;
        /*font-weight:500;*/
    }
    .header-navigation a:hover{
        /*border:1px solid black;*/
        color:#f16a21;
        text-decoration: none;
        font-weight:500;
        -webkit-transition:0.3s;
        transition:0.3s;
    }
/*----------------------  FOOTER  --------------------*/
    .footer{
    /*    border:1px solid red;*/
        border-top:5px solid #f16a21;
        float:left;
    /*    height:150px;*/
        width:100%;
        background-color:#333333;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    /*----------------------------- FOOTER TOP -------------------------------*/
    .footer-top{
    /*    border:1px solid red;*/
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        color:#999999;
    }
    .top-container{
/*        border:1px solid black;*/
        margin-top:20px;
        width:95%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
    }
    .contact-container{
/*        border:1px solid black;*/
        height:60px;
        -webkit-box-pack:center;    
        -ms-flex-pack:center;    
        justify-content:center;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
    }
    .contact-container div{
        margin-left:10px;
        font-size:0.8rem;
    }
    .contact-container img{
        height:70%;
        margin-left:10px;
    }
    .contact-container2{
    /*    border:1px solid black;*/
        height:30px;
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom:10px;
        margin-right:30px;
    }
    .contact-container2 a{
    /*    border:1px solid red;*/
        height:100%;
        margin-left:10px;
    }
    .contact-container2 img{
        height:100%;
        -webkit-filter:brightness(0.6) grayscale(1);
        filter:brightness(0.6) grayscale(1);
    }
    .contact-container2 img:hover{
    /*    border:1px solid red;*/
        -webkit-filter:brightness(0.5) grayscale(0.1);
        filter:brightness(0.5) grayscale(0.1);
    }
    /*--------------- FOOTER-BOTTOM ----------------*/
    .footer-bottom{
        height:50px;
    /*    border:1px solid black;*/
        border-top:1px solid #515151;
        color:#a8a8a8; 
        font-size:0.8rem;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media (min-width: 700px) and (max-width:900px){
    .top-container{
        width:100%;
    }
    .contact-container{
        width:25%;
        -webkit-box-align:start;
        -ms-flex-align:start;
        align-items:flex-start;
        height:80px;
    }
    .contact-container div{
        font-size:0.8rem;
    }
    .contact-container img{
        height:40%;
        margin-left:20px;
    }
    .company-logo{
        height:70%;
    }
    .nav-item{
        padding-left:0.5rem;
        padding-right:0.5rem;
    }
    .nav-item2{
        padding-left:0.5rem;
        padding-right:0.5rem;
    }
}
@media screen and (min-width: 1300px) {
   .header-navigation a{
        font-size:12px;
    }
    .header-navigation a.smaller{
        font-size:10px;
    }
    .footer-bottom{
        font-size:15px;
    }
    .contact-container{
        font-size:14px; 
        padding-left:10px;
        padding-right:10px;
    }
}

.noselect {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
        supported by Chrome and Opera */
    }

/*--------------------------------------- FOOTER ----------------------------------------*/

.not-active {
   pointer-events: none;
}

