.header-container{
	float:left;
	width:100%;
	height:80px;
}
.carousel-wrapper{
	float:left;
	width:100%;
}
.bannercontainer {
  	width:100%;
   	position:relative;
   	padding:0;
}
     
.banner{
   	width:100%;
   	position:relative;
}
.dummy-content{
	float:left;
	height:1800px;
	width:80%;
}