.modal-content {
  border-radius: 10px;
}
.modal {
  /*        border:2px solid black;*/
}
.modal-dialog {
  /*    border:4px solid black;*/
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*    height:90%;*/
}
.modal-content {
  width: 80%;
  /*    height:90%;*/
}
.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal-header {
  font-size: 1.5rem;
  font-weight: 800;
  /*    border:1px solid black;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #262626;
}
.itsm-tagline {
  /*    border:1px solid black;*/
  font-size: 1.2rem;
  width: 70%;
  text-align: center;
  font-weight: 600;
  font-style: italic;
  color: #686868;
}
#itsm-modal .modal-header {
  /*    color:#0289de;*/
}
.features-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*    height:300px;*/
}
.features-container {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.feature-container {
  width: 45%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
}
.feature-logo {
  float: left;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}
.feature-logo img {
  margin-top: 10%;
  width: 50%;
  max-height: 60%;
}
.feature-title {
  float: left;
  width: 70%;
  padding-top: 10px;
  color: #515151;
  height: 2rem;
  /*    height:50px;*/
  font-weight: 600;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
*/
}
.feature-desc {
  float: left;
  width: 70%;
  height: 6rem;
  font-size: 0.8rem;
  padding-top: 10px;
  color: #757575;
}
.modal button {
  font-size: 1rem;
  border-radius: 10px;
  font-family: Arial;
  color: #3d3d3d;
  font-size: 16px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #ededed 2px;
  text-decoration: none;
}
.modal button:hover {
  background: #f0f0f0;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 699px) {
  .feature-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .feature-logo {
    width: 100%;
  }
  .feature-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
  }
  .feature-desc {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 700px) {
  .feature-title {
    font-size: 0.9rem;
  }
}
